@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Lobster+Two:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import 'bootstrap-icons/font/bootstrap-icons.css';

body {
  margin: 0;
  font-family: "Lobster Two", serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root {
  --font-lobster: "Lobster Two", serif;
}
.lobster {
  font-family: var(--font-lobster);
}